@media (max-width: 575px) {
  * {
    margin: 0;
    padding: 0;
    /* width: 100%; */
    overflow-x: hidden;
  }

  .content {
    display: none;
  }

  .button-side {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu img {
    width: 3em;
    margin-left: 86px;
  }

  .header {
    width: 100%;
    margin-top: -23px;
  }

  .shipment {
    position: unset;
    margin-top: 54px;
    width: 100%;
    height: 502px;
  }

  .shipment1 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    /* background-color: blue; */
    width: 100%;
    height: 555px;
    margin-top: -54px;
  }

  .book {
    width: 88%;
    margin-top: 30px;
    height: 156px;
  }

  .book1 {
    height: 59px;
  }

  .book1 p {
    font-size: 16px;
  }

  .book1 span {
    font-size: 11px;
  }

  #book11 {
    height: 135px;
  }

  .image1 img {
    position: unset;
    height: 246px;
  }

  .logo img {
    margin-left: -13px;
  }

  .main2 {
    margin-top: 61px;
  }

  .head1 {
    width: 100%;
    /* background-color: blueviolet; */
    text-align: center;
    text-align: center;
  }

  .head1 p {
    font-size: 30px;
  }

  .count-main {
    width: 100%;
    height: 300px;
    /* background-color: powderblue; */
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .count {
    width: 100%;
    height: 155px;
    /* background-color: olive; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .count1 {
    width: 65px;
    height: 100px;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .count1 p {
    font-size: 21px;
    font-weight: bold;
    color: red;
  }

  .count1 span {
    font-size: 15px;
    color: #777777;
    margin-top: -16px;
    text-align: center;
  }

  .count2 {
    width: 80px;
    height: 131px;
    /* background-color: rgb(71, 114, 255); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .count2 p {
    font-size: 21px;
    font-weight: bold;
    color: red;
    text-align: center;
  }

  .count2 span {
    font-size: 15px;
    color: #777777;
    margin-top: -16px;
    text-align: center;
  }

  .count3 {
    width: 60px;
    height: 100px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .count3 p {
    font-size: 21px;
    font-weight: bold;
    color: red;
  }

  .count3 span {
    font-size: 15px;
    color: #777777;
    margin-top: -16px;
    margin-bottom: 21px;
    text-align: center;
  }

  .count4 {
    width: 70px;
    height: 100px;
    /* background-color: rgb(0, 255, 26); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .count4 p {
    font-size: 21px;
    font-weight: bold;
    color: red;
  }

  .count4 span {
    font-size: 15px;
    color: #777777;
    margin-top: -16px;
    text-align: center;
  }

  .count-1 {
    width: 55%;
    height: 191px;
    /* background-color: mediumturquoise; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .count1-1 {
    width: 72px;
    height: 150px;
    /* background-color: khaki; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .count1-1 p {
    font-size: 21px;
    font-weight: bold;
    color: red;
    text-align: center;
  }

  .count1-1 span {
    font-size: 15px;
    color: #777777;
    margin-top: -16px;
    /* text-align: center; */
  }

  .count1-2 {
    width: 90px;
    height: 155px;
    /* background-color: rgb(240, 140, 198); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .count1-2 p {
    font-size: 21px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-top: 16px;
  }

  .count1-2 span {
    font-size: 15px;
    color: #777777;
    margin-top: -16px;
    text-align: center;
  }

  .survices {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 1160px;
    /* background-color: aqua; */
    gap: 20px;
  }

  .survices1 img {
    width: 21em;
  }

  .survices1 {
    width: 100%;
    /* margin-top: 20px; */
    height: 1160px;
    /* overflow-y: hidden; */
  }

  .survice {
    height: 1325px;
  }

  .proposition {
    height: 1267px;
  }

  .head3 p {
    text-align: center;
  }

  .proposition1 {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 560px;
  }

  .proposition2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 405px;
    margin-top: 35px;
  }

  .news {
    width: 100%;
    height: 3020px;
  }

  .news1 {
    width: 100%;
    height: 1525px;
    display: flex;
    flex-direction: column;
    /* margin-top: 30px; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  .news2 {
    width: 100%;
    height: 1300px;
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    align-items: center;
  }

  .news1-1 {
    width: 342px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }

  .news1-1 img {
    width: 19em;
  }

  .news1-1 span {
    font-size: 19px;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 23px;
    color: #0E2C53
  }

  .news1-1 p {
    font-size: 13px;
    margin-left: 23px;
    color: #777777;
    margin-top: 15px;
  }

  .news1-1 a {
    margin-right: 255px;
    font-size: 13px;
    text-decoration: none;
    color: #0E2C53;
    width: 120px;
    margin-left: 80px;
    font-weight: bold;
  }

  .testmonials {
    width: 110%;
    margin-left: -37px;
    margin-top: 0px;
    /* background-color: #0E2C53; */
  }

  .testmonials1-1 {
    width: 100%;
  }

  .p-tag {
    font-size: 12px;
  }

  .left-arrow {
    font-size: 22px;
  }

  .name {
    width: 53%;
    height: 64px;
    text-align: center;
  }

  .paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .head5 h2 {
    margin-left: 5px;
  }

  .head5 p {
    margin-left: 5px;
  }

  .line {
    margin-left: 5px;
  }

  .footer {
    width: 100%;
    height: 1450px;
    background-color: #0E2C53;
    position: static;
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }

  .images {
    width: 277px;
    height: 40px;
    margin-top: -16px;
    /* background-color: royalblue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer1 {
    width: 100%;
    height: 1450px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* align-items: center; */
  }

  .footer1-1 {
    width: 350px;
    margin-top: -50px;
    height: 290px;
    /* background-color: yellow; */
  }

  .footer1-2 {
    width: 350px;
    height: 190px;
    display: flex;
    justify-content: unset;
    margin-top: -149px;
    /* background-color: aqua; */
    gap: 15px;
  }

  .footer1-2 span {
    margin-top: 0px;
  }

  .footer1-2 p {
    margin-bottom: 0px;
    color: #777777;
  }

  .line1 {
    margin-top: 3px;
  }

  .p0 {
    margin-top: 0px;
  }

  .p1 {
    margin-top: 0px;
  }

  .p2 {
    margin-top: 0px;
  }

  .footer1-3 {
    width: 350px;
    height: 250px;
    display: flex;
    justify-content: unset;
    margin-top: -146px;
    /* background-color: aqua; */
    gap: 15px;
  }

  .footer1-3 span {
    margin-top: 0px;
  }

  .footer1-3 p {
    margin-bottom: 0px;
  }

  .line1 {
    margin-top: 3px;
  }

  .p0-1 {
    margin-top: 0px;
  }

  .p1-1 {
    margin-top: 0px;
  }

  .p2-1 {
    margin-top: 0px;
  }

  .p3-1 {
    margin-top: 0px;
  }

  .last {
    margin-top: -105px;
    display: flex;
    flex-direction: column;
    height: 112px;
    position: unset;
    justify-content: center;
    align-items: center;
  }

  .last1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .imgee img {
    display: none;
  }

  .terms {
    height: 66px;
    margin-top: -3px;
  }
}